.footer {
    background-color: #1A242F;
    padding-top: clamp(1.875rem, -0.125rem + 10vw, 8.75rem);

    &__main {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: clamp(1.875rem, -14.494rem + 26.19vw, 8.75rem);
        padding-bottom: clamp(1.875rem, 0.784rem + 5.45vw, 5.625rem);

        @media (max-width: 992px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &__block {
        @media (max-width: 992px) {
            grid-column: 1/5;

            &:not(:first-child) {
                grid-row: 2/3;
                grid-column: auto;
            }
        }
    }

    &__text {
        margin: 22px 0 32px;

        @media (min-width: 992px) {
            width: 340px;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 30px;

        @media (max-width: 768px) {
            justify-content: center;
        }
    }

    &__social {
        text-decoration: none;

        svg {
            fill: #555E68;
            transition: fill .3s;
        }

        @media (any-hover: hover) {
            &:hover {
                svg {
                    fill: #fff;
                }
            }
        }
    }

    &__copy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 15px 0;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
}

.links-footer {
    &__header {
        font-weight: 600;
        font-size: 26px;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        margin-bottom: 11px;
    }

    &__link {
        text-decoration: none;
        transition: color .3s;
        white-space: nowrap;

        @media (any-hover: hover) {
            &:hover {
                color: #fff;
            }
        }
    }
}